<nav>
    <div>
        <span><a href="/">CATALOG OF ARCHIVAL RESILIENCE</a></span> <span onclick="showAbout(event)">about</span>
        <p></p>
        <p class="introduction">In collaboration with the IISG third year graphic design students of the Royal Academy of Art, The Hague, will research, design and develop long-term archival approaches for a single cultural commodity. This process requires both resilient hardware and software, new digital tools and analogue strategies for transcoding media. Students in IMD and Coding will learn about current strategies and methods for archiving digital culture at the IISG. During the assignment, they will select materials from the physical archive of the IISG and also explore the hardware and tools used for transcoding and digitizing various media at the institution. The aim of this collaboration is for students to devise novel processes with existing transcoding systems at the IISG, but also develop new tools and transcoding methods that can be of interest for the IISG in thinking about how they translate between physical and digital materials.</p>
    </div>
</nav>

<script>
    const showAbout = function(e) {
        e.currentTarget.classList.toggle('activeButton')
        const paragraphs = Array.from(document.getElementsByTagName('p'));
        paragraphs.forEach(function(paragraph, index) {
            paragraph.classList.toggle('showAbout')
        });
    };
</script>