<nav>
    <div>
        <span><a href="/">CATALOG OF ARCHIVAL RESILIENCE</a></span> <span onclick="showAbout(event)">about</span>
        <p>&nbsp;</p>
        <p class="introduction">
            This catalog is the result of a semester-long collaboration between the 3rd year of the bachelor Graphic Design at the <strong>Royal Academy of Art – The Hague</strong> and the <a href="https://iisg.amsterdam/nl"><strong>International Institute of Social History</strong></a> (IISH).</p>
        <p>
            Students researched  long-term archival transcodings based on artefacts from the International Institute of Social History. This process requires both resilient hardware and software, new digital tools and analogue strategies for transcoding media. Students in IMD and Coding will learn about current strategies and methods for archiving digital culture at the IISG. During the assignment, they will select materials from the physical archive of the IISG and also explore the hardware and tools used for transcoding and digitizing various media at the institution. The aim of this collaboration is for students to devise novel processes with existing transcoding systems at the IISG, but also develop new tools and transcoding methods that can be of interest for the IISG in thinking about how they translate between physical and digital materials.
        </p>
        <p class="introduction">
            Guided by <strong><a href="http://www.sulsolsal.com" target="_blank">Hannes Bernard</a></strong> (Interactive Media) and <strong><a href="http://www.aptoptout.studio" target="_blank">Martijn de Heer</a></strong> (Coding). Designed by <strong><a href="http://ralphbruens.com" target="_blank">Ralph Bruens</a></strong> and <strong><a href="http://merelmeijer.com" target="_blank">Merel Meijer</a></strong>.
        </p>
    </div>
</nav>

<script>
    const showAbout = function(e) {
        e.currentTarget.classList.toggle('activeButton')
        const paragraphs = Array.from(document.getElementsByTagName('p'));
        paragraphs.forEach(function(paragraph, index) {
            paragraph.classList.toggle('showAbout')
        });
    };
</script>