/* GENERAL */
body {
    margin: 0;
    padding: 30px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    line-height: 1.25em;
    font-weight: 100;
    color: rgba(0, 0, 200, 1);
}

/* TOP BAR PART, INCLUDING ABOUT SECTION */
nav {
    padding: 0 15px 30px 15px;
    font-size: 1.25em;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
}

nav a, nav a:active, nav a:hover {
    color: rgba(0, 0, 200, 1);
}

nav span:first-of-type {
    text-decoration: underline;
}

nav span:last-of-type {
    font-weight: 100;
}

nav p {
    /*font-size: 1.2em;*/
    line-height: 1.5em;
    display: none;
    text-transform: none;
    font-weight: 100;
}

nav p.showAbout {
    display: block;
}

nav span:nth-of-type(2):hover {
    cursor: pointer;
}

nav p:nth-of-type(2) {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 200, 1);
}

nav span.activeButton {
    color: white;
    background-color: rgba(0, 0, 200, 1);
    padding: 2px;
}

/* README PAGE CSS */

table {
    width: 100%;
    vertical-align: top;
}

tr {
    height: 4em;
}

td, th {
    padding: 15px;
    font-weight: 100;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 200, 0.05);
}

tr:not(#header):hover {
    background-color: rgba(0, 0, 200, 1);
    color: white;
    cursor: pointer;
}

td:nth-of-type(1) {
    width: 15vw;
}

td:nth-of-type(2) {
    width: 20vw;
}

td:nth-of-type(3) {
    width: 20vw;
}

td:nth-of-type(4) {
    width: 30vw;
}

/* README PAGE CSS */

#content {
    display: block;
    margin: auto;
    width: 80%;
}

img {
    max-width: 100%;
    min-width: 100%;
}